COINGECKO_API_KEY=
DATABASE_URL=
JWT_SECRET=
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SITE_NAME=
NEXT_PUBLIC_SITE_URL=
OPENAI_API_KEY=
PUBLISH_API_KEY=
SANITY_WEBHOOK_SECRET=
SEED_ADMIN_PASSWORD=
SEED_AUTHOR_PASSWORD=
SEED_EDITOR_PASSWORD=